<a href="https://colab.research.google.com/github/utkarshanand336/Data-Science-Projects/blob/main/Null_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('nulldata.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               27 non-null     object
 1    "Team"            27 non-null     object
 2    "Position"        27 non-null     object
 3    "Height(inches)"  27 non-null     int64
 4    "Weight(lbs)"     27 non-null     int64
 5    "Age"             23 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.4+ KB

In [ ]:
df.isnull().sum()

Name                 0
 "Team"              0
 "Position"          0
 "Height(inches)"    0
 "Weight(lbs)"       0
 "Age"               4
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
k=df[' "Age"'].mean()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 26
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               23 non-null     object
 1    "Team"            23 non-null     object
 2    "Position"        23 non-null     object
 3    "Height(inches)"  23 non-null     int64
 4    "Weight(lbs)"     23 non-null     int64
 5    "Age"             23 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.3+ KB

In [ ]:
s = df[' "Age"'].median()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 26
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               23 non-null     object
 1    "Team"            23 non-null     object
 2    "Position"        23 non-null     object
 3    "Height(inches)"  23 non-null     int64
 4    "Weight(lbs)"     23 non-null     int64
 5    "Age"             23 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.3+ KB

In [ ]:
df.describe()

In [ ]:
df

,Name,"""Team""","""Position""","""Height(inches)""","""Weight(lbs)""","""Age"""
0,Adam Donachie,"""BAL""","""Catcher""",74,180,22.99
1,Paul Bako,"""BAL""","""Catcher""",74,215,34.69
2,Ramon Hernandez,"""BAL""","""Catcher""",72,210,30.78
3,Kevin Millar,"""BAL""","""First Baseman""",72,210,35.43
5,Brian Roberts,"""BAL""","""Second Baseman""",69,176,29.39
6,Miguel Tejada,"""BAL""","""Shortstop""",69,209,30.77
7,Melvin Mora,"""BAL""","""Third Baseman""",71,200,35.07
8,Aubrey Huff,"""BAL""","""Third Baseman""",76,231,30.19
10,Jeff Fiorentino,"""BAL""","""Outfielder""",73,188,23.88
11,Freddie Bynum,"""BAL""","""Outfielder""",73,180,26.96
12,Nick Markakis,"""BAL""","""Outfielder""",74,185,23.29
13,Brandon Fahey,"""BAL""","""Outfielder""",74,160,26.11
14,Corey Patterson,"""BAL""","""Outfielder""",69,180,27.55
15,Jay Payton,"""BAL""","""Outfielder""",70,185,34.27
17,Erik Bedard,"""BAL""","""Starting Pitcher""",73,189,27.99
18,Hayden Penn,"""BAL""","""Starting Pitcher""",75,185,22.38
19,Adam Loewen,"""BAL""","""Starting Pitcher""",78,219,22.89
20,Daniel Cabrera,"""BAL""","""Starting Pitcher""",79,230,25.76
21,Steve Trachsel,"""BAL""","""Starting Pitcher""",76,205,36.33
22,Jaret Wright,"""BAL""","""Starting Pitcher""",74,230,31.17
24,Scott Williamson,"""BAL""","""Relief Pitcher""",72,180,31.03
25,John Parrish,"""BAL""","""Relief Pitcher""",71,192,29.26
26,Danys Baez,"""BAL""","""Relief Pitcher""",75,225,29.47

In [ ]:
df.mean()

<ipython-input-25-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

 "Height(inches)"     73.173913
 "Weight(lbs)"       198.434783
 "Age"                29.028261
dtype: float64

In [ ]:
df.median()

<ipython-input-26-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

 "Height(inches)"     73.00
 "Weight(lbs)"       192.00
 "Age"                29.39
dtype: float64

In [ ]:
k=df[' "Age"'].median()

In [ ]:
df[' "Age"'].fillna(k,inplace=True)

In [ ]:
df.describe()

In [ ]:
df.info

In [ ]:
df.duplicated().sum()

0

In [ ]:
df=pd.read_csv('nulldatanew.csv')

In [ ]:
df.describe()

        "Height(inches)"   "Weight(lbs)"      "Age"
count          35.000000       35.000000  30.000000
mean           73.600000      200.000000  29.118667
std             2.713799       19.505655   4.240767
min            69.000000      160.000000  22.380000
25%            72.000000      185.000000  25.847500
50%            74.000000      195.000000  29.430000
75%            75.500000      217.000000  31.135000
max            79.000000      231.000000  36.330000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               35 non-null     object
 1    "Team"            35 non-null     object
 2    "Position"        35 non-null     object
 3    "Height(inches)"  35 non-null     int64
 4    "Weight(lbs)"     35 non-null     int64
 5    "Age"             30 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.8+ KB

In [ ]:
df.duplicated().sum()

8

In [ ]:
df.drop_duplicates(keep= 'first')

,Name,"""Team""","""Position""","""Height(inches)""","""Weight(lbs)""","""Age"""
0,Adam Donachie,"""BAL""","""Catcher""",74,180,22.99
1,Paul Bako,"""BAL""","""Catcher""",74,215,34.69
2,Ramon Hernandez,"""BAL""","""Catcher""",72,210,30.78
3,Kevin Millar,"""BAL""","""First Baseman""",72,210,35.43
4,Chris Gomez,"""BAL""","""First Baseman""",73,188,NaN
5,Brian Roberts,"""BAL""","""Second Baseman""",69,176,29.39
6,Miguel Tejada,"""BAL""","""Shortstop""",69,209,30.77
7,Melvin Mora,"""BAL""","""Third Baseman""",71,200,35.07
8,Aubrey Huff,"""BAL""","""Third Baseman""",76,231,30.19
9,Adam Stern,"""BAL""","""Outfielder""",71,180,NaN
10,Jeff Fiorentino,"""BAL""","""Outfielder""",73,188,23.88
11,Freddie Bynum,"""BAL""","""Outfielder""",73,180,26.96
12,Nick Markakis,"""BAL""","""Outfielder""",74,185,23.29
13,Brandon Fahey,"""BAL""","""Outfielder""",74,160,26.11
14,Corey Patterson,"""BAL""","""Outfielder""",69,180,27.55
15,Jay Payton,"""BAL""","""Outfielder""",70,185,34.27
16,Jay Gibbons,"""BAL""","""Designated Hitter""",72,197,NaN
17,Erik Bedard,"""BAL""","""Starting Pitcher""",73,189,27.99
18,Hayden Penn,"""BAL""","""Starting Pitcher""",75,185,22.38
19,Adam Loewen,"""BAL""","""Starting Pitcher""",78,219,22.89
20,Daniel Cabrera,"""BAL""","""Starting Pitcher""",79,230,25.76
21,Steve Trachsel,"""BAL""","""Starting Pitcher""",76,205,36.33
22,Jaret Wright,"""BAL""","""Starting Pitcher""",74,230,31.17
23,Kris Benson,"""BAL""","""Starting Pitcher""",76,195,NaN
24,Scott Williamson,"""BAL""","""Relief Pitcher""",72,180,31.03
25,John Parrish,"""BAL""","""Relief Pitcher""",71,192,29.26
26,Danys Baez,"""BAL""","""Relief Pitcher""",75,225,29.47

In [ ]:
df.to_csv("a.csv")

In [ ]:
k=df[' "Age"'].remove()

AttributeError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')