<a href="https://colab.research.google.com/github/utkarshanand336/Data-Science-Projects/blob/main/Titanic_Survivors_LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [119]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [120]:
df =pd.read_csv("/content/train.csv")

In [ ]:
df

In [122]:
df = df.drop(['SibSp','Parch','Embarked'], axis = 1)

In [123]:
df = df.drop(['Cabin','Ticket','Fare'],axis = 1 )

In [ ]:
df

In [125]:
lb=LabelEncoder()
df['Name']=lb.fit_transform(df['Name'])
df['Sex']=lb.fit_transform(df['Sex'])

In [126]:
x = df.drop('Survived', axis = 1)
y = df.Survived

In [ ]:
df.dropna(inplace = True)
df.isnull().sum()

In [130]:
df

     PassengerId  Survived  Pclass  Name  Sex   Age
0              1         0       3   108    1  22.0
1              2         1       1   190    0  38.0
2              3         1       3   353    0  26.0
3              4         1       1   272    0  35.0
4              5         0       3    15    1  35.0
..           ...       ...     ...   ...  ...   ...
885          886         0       3   684    0  39.0
886          887         0       2   548    1  27.0
887          888         1       1   303    0  19.0
889          890         1       1    81    1  26.0
890          891         0       3   220    1  32.0

[714 rows x 6 columns]

In [128]:
X_test, X_train, y_test, y_train = train_test_split(x,y, test_size=0.3,random_state = 1)

In [139]:
X_train = X_train.fillna(X_train.mean())

In [ ]:
lr=LogisticRegression()
lr.fit(X_train, y_train)
lr.predict(X_test)

In [142]:
yp=lr.predict(X_test)

In [ ]:
yp

In [144]:
metrics.accuracy_score(y_test,yp)

0.78330658105939

In [ ]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':yp})
df